<!DOCTYPE html>
<html lang="<%= $LANG %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= $SUB_DIRECTORY %><%= $ICON_PATH %>">

    <title><%= $SITE_TITLE %></title>

    <!-- Bootstrap core CSS -->
    <link href="<%= $SUB_DIRECTORY %>/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="<%= $SUB_DIRECTORY %>/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="<%= $SUB_DIRECTORY %>/bootstrap/assets/js/html5shiv.js"></script>
      <script src="<%= $SUB_DIRECTORY %>/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-default">
      <div class="contaitner">
        <div class="navbar-header" style='height:60px;'>
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="<%= $SUB_DIRECTORY %>/">
            <img src='<%= $SUB_DIRECTORY %><%= $IMAGE_PATH %>'> <%= $SITE_TITLE %>
            <span class="text-warning"><small> <%= $SITE_CATCH%></small></span>
          </a> 
        </div>
        <%= $NAVBAR_RIGHT_HTML || "" %>        
      </div>
    </div>

    <%= yield %>

    <div id="footer" style="background-color: #f5f5f5">
      <p class='text-right text-muted'></p>
    </div>
  </body>
</html>
